*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}
body{
  background:radial-gradient(circle at top,var(--bg2),var(--bg));
  color:#fff;
  min-height:100vh;
  padding-bottom:80px;
}