.logo{
  font-size:26px;
  font-weight:900;
  color:var(--roxo);
}
nav a{
  margin-left:20px;
  cursor:pointer;
}
.card{
  background:var(--glass);
  border:1px solid var(--border);
  border-radius:22px;
  padding:26px;
  margin-bottom:25px;
}
.bottom{
  position:fixed;
  bottom:0;
  width:100%;
  background:#0b0b14;
  display:flex;
  justify-content:space-around;
  padding:12px 0;
}
#mascote{
  position:fixed;
  right:20px;
  bottom:90px;
  text-align:center;
  cursor:pointer;
}
#mascote img{width:120px}
#fala{
  background:var(--roxo);
  padding:10px 14px;
  border-radius:14px;
  margin-top:6px;
}