:root {
  --bg: #0b0e11;           /* Preto Binance/Bet365 */
  --bg2: #15191d;          /* Superfície de cards */
  --surface: #1e2329;      /* Hover e botões */
  --primary: #7d40ff;      /* Roxo Neon */
  --accent: #00ff88;       /* Verde Odds */
  --text-main: #eaecef;
  --text-muted: #848e9c;
  --border: rgba(255,255,255, 0.05);
  --radius-lg: 12px;       /* Bordas menos arredondadas = mais sério */
  --radius-md: 6px;
}
