:root {
  /* Paleta Dark Premium */
  --bg: #09090b;           /* Fundo Principal (Preto Fosco) */
  --bg2: #18181b;          /* Fundo Secundário */
  --surface: #27272a;      /* Cards */
  --surface-hover: #3f3f46;
  
  --primary: #8b5cf6;      /* Roxo Phanto (Identidade) */
  --primary-glow: rgba(139, 92, 246, 0.4);
  
  --accent: #10b981;       /* Verde Dinheiro/Ação */
  --danger: #ef4444;       /* Vermelho Erro */
  
  --text-main: #ffffff;
  --text-muted: #a1a1aa;
  
  --border: rgba(255,255,255, 0.08);
  --glass: rgba(24, 24, 27, 0.95); /* Efeito vidro mais sólido */
  
  --radius-lg: 16px;
  --radius-md: 8px;
}
